include LICENSE.txt
include README.md
recursive-include ipservice *
exclude macservice *
exclude macservice/data *
exclude macservice/resources *
recursive-include test *
recursive-include files *
recursive-include common *