include LICENSE.txt
include README.md
recursive-include ipservice *
recursive-include macservice *
recursive-include macservice/data *
recursive-include macservice/resources *
recursive-include test *
recursive-include files *
recursive-include common *